requests==2.32.3
beautifulsoup4==4.12.3
python-dotenv==1.0.1
google-auth==2.30.0
google-auth-oauthlib==1.2.0
google-api-python-client==2.133.0
python-dateutil==2.8.2
pytz==2023.3
geopy
pandas
python-telegram-bot==13.15
packaging>=24.0